# Part 1: Web Scraping

In [77]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import random

In [78]:
bibs = [str(i) for i in range(1,55530)]
bibs = random.sample(bibs, 550)
directory = []
for i in bibs:
    driver = webdriver.Chrome()
    url = 'https://results.nyrr.org/event/M2024/result/' + i
    driver.get(url)
    time.sleep(3)
    html_content = driver.page_source
    driver.quit()
    listing = {}
    runners_stat = BeautifulSoup(html_content, 'html.parser')
    
    try:
        listing["Name"] = runners_stat.find_all("div", class_="main-title ng-binding")[0].get_text().split()
        listing["Gender"] = runners_stat.find_all("div", class_="main-title ng-binding")[1].get_text().split()[1][0]
        listing["Age"] = int(runners_stat.find_all("div", class_="main-title ng-binding")[1].get_text().split()[1][1:])
        listing["Pace_Per_Mile"] = runners_stat.find_all("span", class_="label-value ng-binding")[1].get_text()
        listing["05K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[0].find_all('span', class_="label-value ng-binding")[0].get_text() 
        listing["10K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[1].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["15K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[2].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["20K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[3].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["Half"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[4].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["25K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[5].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["30K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[6].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["20M"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[7].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["35K"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[8].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["40K"]= runners_stat.find_all('div', class_="form-group-item ng-scope")[9].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["25.2M"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[10].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["26M"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[11].find_all('span', class_="label-value ng-binding")[0].get_text()
        listing["Finish_Time"] = runners_stat.find_all('div', class_="form-group-item ng-scope")[12].find_all('span', class_="label-value ng-binding")[0].get_text()
        directory.append(listing)
    
    except:
        continue

# Part 2: Importing data into a Database

In [84]:
import pandas as pd

In [86]:
pd.DataFrame(directory)

,Name,Gender,Age,Pace_Per_Mile,05K,10K,15K,20K,Half,25K,30K,20M,35K,40K,25.2M,26M,Finish_Time
0,"[Frances, Fontaine, Chedid]",W,38,10:59,0:31:56,1:04:05,1:36:31,2:09:30,2:16:49,2:43:02,3:16:39,3:33:12,3:57:26,4:33:10,4:37:09,4:46:02,4:47:54
1,"[Eric, Maki]",M,63,07:36,0:21:55,0:43:40,1:05:49,1:28:35,1:33:43,1:52:19,2:15:32,2:26:06,2:40:19,3:07:19,3:10:31,3:17:30,3:19:12
2,"[Chuan, Zhu]",W,54,10:17,0:34:41,1:05:51,1:37:25,2:08:32,2:15:42,2:40:51,3:12:03,3:26:10,3:44:22,4:16:07,4:19:40,4:27:16,4:29:22
3,"[Suresh, Jatti]",M,55,07:07,0:21:47,0:44:02,1:06:22,1:28:22,1:33:20,1:51:07,2:13:02,2:22:36,2:34:57,2:56:42,2:59:09,3:04:43,3:06:17
4,"[Brad, Holowaychuk]",M,46,06:18,0:18:36,0:37:14,0:56:08,1:15:25,1:19:47,1:35:30,1:54:53,2:03:52,2:15:18,2:35:56,2:38:14,2:43:25,2:44:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,"[Abby, Fitzgerald]",W,27,09:59,0:29:18,0:58:48,1:28:50,1:59:10,2:06:03,2:30:40,3:01:47,3:15:59,3:34:17,4:07:32,4:11:15,4:19:22,4:21:25
458,"[Andreas, Gros]",M,34,08:39,0:26:43,0:52:30,1:18:22,1:44:55,1:50:51,2:12:22,2:38:42,2:50:42,3:06:03,3:34:13,3:37:26,3:44:40,3:46:35
459,"[Arief, Pradetya]",M,46,08:44,0:25:36,0:50:13,1:15:18,1:40:48,1:46:40,2:08:02,2:34:34,2:47:27,3:04:03,3:35:11,3:38:44,3:46:32,3:48:35
460,"[Ye, Lu]",W,49,09:39,0:29:47,0:58:39,1:26:51,1:55:33,2:02:03,2:25:07,2:53:40,3:06:28,3:23:49,3:58:08,4:02:03,4:10:22,4:12:39
461,"[Craig, Ortner]",M,50,08:15,0:26:17,0:52:14,1:17:53,1:43:23,1:49:01,2:09:04,2:33:28,2:44:32,2:58:47,3:25:16,3:28:05,3:34:21,3:36:00